<h1>Dice Game</h1>
<hr>

<img src="http://jeffcohenonline.com/dice/<%= @numbers[0] %>.png">
<img src="http://jeffcohenonline.com/dice/<%= @numbers[1] %>.png">



<% if @point==0 %>
	<% if @sum==7 or @sum==11 %>
		<h1>YOU WIN!</h1>
		<a href="/dice"><button>Start Over</button></a>
	<%elsif @sum==2 or @sum==3 or @sum==12 %>
		<h1>YOU LOSE</h1>
		<a href="/dice"><button>Start Over</button></a>
	<% else %>
	<% @point = @sum %>
	<h1> Your goal is now <%= @point %>. </h1>
	<h1> Now try to get <%= @point %> again before you roll a 7. </h1>
	<a href="/dice_play?point=<%= @point%>"><button>Roll the dice</button></a>
	<% end %>

<%elsif @sum==@point %>
	<h1>YOU WIN!</h1>
	<a href="/dice"><button>Start Over</button></a>

<%elsif @sum==7 %>
	<h1>YOU LOSE</h1>
	<a href="/dice"><button>Start Over</button></a>
<% else %>
	<h1> Your goal is <%= @point %> but you rolled <%= @sum %>. You can roll again </h1>
	<a href="/dice_play?point=<%= @point%>"><button>Roll again.</button></a>
<% end %>
